.tab-btn {
    background-color: #CCCCCC; /* Cinza */
    border: none;
    color: #FFFFFF; /* Branco */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Adicionando transição suave na mudança de cor de fundo */
}

.tab-btn.active {
    background-color: #888888; /* Cinza mais escuro */
}
